<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel='icon' href='/img/favicon.ico' type='image/x-icon'/ >
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- External -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>Order's Up</title>
  </head>
  <nav id="nav-bar">
    <img class="logo" src="/img/utensils.png" />
    <span class="header">Order's Up</span>
  </nav>
  <nav id="menu">
    <ul class="nav">
      <% for (const category of categories) { %>
      <li class="nav-item">
        <a class="nav-link-<%=category%>" href="#<%=category%>"
          ><%=category%></a
        >
      </li>
      <% }; %>
    </ul>
  </nav>
  <body>
    <main>
      <% for (const category of categories) { %>
      <section id="<%=category%>">
        <h4><%=category%></h4>
        <div class="food-cards">
          <% for (const foodObj of results) { %> <% if (foodObj.category ===
          category) { %>
          <article class="<%= foodObj.id%>">
          <img class="card-img-top" alt="Food image" src="<%= foodObj.image%>"/>
          <div class="card-body">
            <div class="text"><h5><%= foodObj.name%></h5><h6><%= foodObj.price%></h6></div>
            <p class="card-text"><%= foodObj.description%></p>
          </div>
          </article>
        <% } %> <% }; %>
        </div>
      </section>
      <% }; %>
    </main>
    <aside id="cart">
      <div id="cartitems">
        <article id="76">
          <div class="amount">
            <i class="fas fa-plus-circle"></i>
            <span class="quantity">1</span>
            <i class="fas fa-minus-circle">
            </i>
          </div>
          <div class="foodName">Clam Chowder</div>
          <div class="price">$4.75</div>
          <i class="fas fa-times-circle"></i>
        </article>
        <article id="77">
          <div class="amount">
            <i class="fas fa-plus-circle"></i>
            <span class="quantity">10</span>
            <i class="fas fa-minus-circle"></i>
          </div>
          <div class="foodName">Poutine</div>
          <div class="price">$8.50</div>
          <i class="fas fa-times-circle"></i>
        </article>
        <article id="78">
          <div class="amount">
            <i class="fas fa-plus-circle"></i>
            <span class="quantity">4</span>
            <i class="fas fa-minus-circle"></i>
          </div>
          <div class="foodName">Homemade Fries</div>
          <div class="price">$3.95</div>
          <i class="fas fa-times-circle"></i>
        </article>
      </div>
    </div>
      <div id="total">
        <p class="subtotal">Subtotal: $0</p>
        <p class="taxes">Taxes: $0</p>
        <p class="total">Total: $0</p>
      </div>
      <form class="placeOrder" method="POST" action="/order">
        <input type="text" name="name" placeholder="Name" Required>
        <input type="text" name="phone">
        <button type="submit" class="btn btn-primary">Place my order</button>
      </form>
    </aside>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
