<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='icon' href='/img/favicon.ico' type='image/x-icon'/ >
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- External -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Acme&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orders.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>Order's Up</title>
  </head>

  <nav id="nav-bar">
    <div class="logo2">
      <span></span>
    </div>
    <div class="logo2">
      <a href="#">
        <img class="logo" src="/img/utensils.png" />
      </a>
    </div>
    <span class="header">
        <a href='/' style="text-decoration:none";>Order's Up</a>
  </nav>

  <body>
    <h2>Orders</h2>
    <table>
      <thead>
        <tr>
          <th class='id'>Order#</th>
          <th class='name'>Customer name</th>
          <th class='phone'>Telephone</th>
          <th class='order'>Order</th>
          <th class='time'>Time</th>
          <th class='date'>Date</th>
          <th class='sms'>Confirm Complete</th>
        </tr>
      </thead>
      <tbody>
            <% for (const orderID of orders) { %>
          <tr id="<%= orderID.id%>">
        <td class='id'>
          <%= orderID.id%>
        </td>
        <td class='name'>
          <%= orderID.name%>
        </td>
        <td class='phone'>
          <%= orderID.phone%>
        </td>
        <td class='order'>
          <%= orderID.order%>
        </td>
        <td class='time'>
          <%= orderID.time%>
        </td>
        <td class='date'>
          <%= orderID.date%>
        </td>
        <td class='sms'>

        <% if (!orderID.SMSsent) { %>
          <div id="sendsms<%= orderID.id%>"><button id="sendsms<%= orderID.id%>">Send SMS</button></div>
          <div id="sentsms<%= orderID.id%>"></div>
         <% } else { %>
          <div id="sentsms<%= orderID.id%>">Sent</div>
          <% } %>

        </td>
    </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
