<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='icon' href='/img/favicon.ico' type='image/x-icon'/ >
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- External -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Acme&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orders.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>Order's Up</title>
  </head>

  <nav id="nav-bar">
    <div class="logo2">
      <span></span>
    </div>
    <div class="logo2">
      <a href="#">
        <img class="logo" src="/img/utensils.png" />
      </a>
    </div>
    <span class="header">Order's Up</span>
  </nav>

  <body>
    <h2>Orders</h2>
    <table>
      <thead>
        <tr>
          <th>Order #</th>
          <th>Customer name</th>
          <th>Telephone</th>
          <th>Order</th>
          <th>time</th>
          <th>date</th>
          <th>Confirm Complete</th>
        </tr>
      </thead>
      <tbody>
          <tr>
        <% for (const orderID of orders) { %>
        <td>
          <%= orderID.id%>
        </td>
        <td>
          <%= orderID.name%>
        </td>
        <td>
          <%= orderID.phone%>
        </td>
        <td>
          <%= orderID.order%>
        </td>
        <td>
          <%= orderID.time%>
        </td>
        <td>
          <%= orderID.date%>
        </td>
        <td>
          <button>Send SMS</button>
        </td>
    </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
